/Documentos/PracticaTopicos/TPIntegrador/bin/
/Documentos/PracticaTopicos/TPIntegrador/obj/
/Documentos/PracticaTopicos/TPIntegrador/Validaciones_Cinefilia/bin/
/Documentos/PracticaTopicos/TPIntegrador/Validaciones_Cinefilia/obj/
/Documentos/PracticaTopicos/TPIntegrador/Indices/obj/
/Documentos/PracticaTopicos/TPIntegrador/Indices/bin/
*.exe
*.o
*.a
*.layout
*.depend
